@font-face {
  font-family: 'iconfont'; /* Project id 3486859 */
  src: url('iconfont.woff2?t=1661505126182') format('woff2'),
    url('iconfont.woff?t=1661505126182') format('woff'),
    url('iconfont.ttf?t=1661505126182') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: '\e86e';
}

.icon-gengduo:before {
  content: '\e61e';
}
